<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Overview </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Overview</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-scanner #scanner></app-scanner>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="scanner.takePicture()">
      <ion-icon name="image-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
