<div class="wrapper">
  <img #imageElement src="" alt="No Image" />
</div>

<ion-range
  min="0.0"
  max="2.0"
  step="0.1"
  labelPlacement="stacked"
  value="0.6"
  label="Gaussian Blur - {{ gaussianBlurValue$ | async }}"
  (ionChange)="handleBlurChange($event)"
></ion-range>
<ion-range
  min="1"
  max="100"
  value="30"
  labelPlacement="stacked"
  label="Threshold Size  - {{ thresholdSizeValue$ | async }}"
  (ionChange)="handleSizeChange($event)"
></ion-range>
<ion-range
  min="1"
  max="100"
  value="15"
  labelPlacement="stacked"
  label="Threshold Compensation  - {{ thresholdCompensationValue$ | async }}"
  (ionChange)="handleCompensationChange($event)"
></ion-range>

<ion-button expand="block" (click)="handleRecognizeButton()"
  >Recognize</ion-button
>

<ion-list [inset]="true">
  <ion-item>
    <ion-icon
      color="warning"
      slot="start"
      name="calendar-outline"
      size="large"
    ></ion-icon>
    <ion-label>Recognized Data</ion-label>
    <ion-note slot="end">{{ recognizedDate$ | async }}</ion-note>
  </ion-item>

  <ion-item>
    <ion-icon
      color="warning"
      slot="start"
      name="wallet-outline"
      size="large"
    ></ion-icon>
    <ion-label>Recognized Sum</ion-label>
    <ion-note slot="end">{{ recognizeSum$ | async }} PLN</ion-note>
  </ion-item>
</ion-list>
